@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/* ---------- TIPOGRAFÍAS ---------- */

    /* Logo Alival */
@font-face {
    font-family: 'brand';
    src: url('fonts/Quantify.woff2') format('woff2'),
        url('fonts/Quantify.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    /* Textos */

@font-face {
    font-family: 'textos';
    src: url('fonts/Humanist777BT-RomanB.woff2') format('woff2'),
        url('fonts/Humanist777BT-RomanB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'textos';
    src: url('fonts/Humanist777BT-BlackB.woff2') format('woff2'),
        url('fonts/Humanist777BT-BlackB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* smartphones base */
@media (max-width:767px)  {
  html, body {
    margin: 0;
    overflow-x: hidden;
}
header {
    background-image: url("img/tope-bw-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0.2em;
    height: 300px;
    z-index: 10000;
    text-align: center;
}
.brandtop{
    width: 120px;
    display: inline-block;
}
.menutop{
    margin-left: -1em;
    width: 100%;        
}
.menutop ul{    
    font-family: 'textos';
    display: grid;
    grid-template-columns: 50% 50%;
}
.menutop ul li {
    display: block;
    padding: 0.3em;
    float: left;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: solid 1px #888;
}
.menutop ul li a{
    color: #FFF;
    text-decoration: none;
    font-size: 0.8em;
}
.menutop ul li a:hover{
    color: #09999D;
    border-color: #09999D;
}
.roundeditem {
}
.menutop ul li:last-child{    
  background-color: #00292A;
}
.aluvialtope {
    text-align: center;
    padding-top: 0.1em;
}
.aluvialnombre {
    font-family: 'brand';
    color: #09999D;
    font-size: 1.5em;
    line-height: 0;
    text-shadow: 1px 1px 2px #000;
}
.slogantope {
    width: 20em;
    margin: auto;
    font-family: 'textos';
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-top: solid 2px #09999D; 
    text-shadow: 1px 1px 2px #000;       
}
.fortalezas {
    background-color: #09999D;
    text-align: center;
    padding-bottom: 2em;        
}
.fortalezas .slider {
    position: relative;
    display: inline-block;
    z-index: 30000;
    background-color: #00292A;
    width: 100%;
    height: 90px;
    overflow: hidden;
    border: solid 5px #FFF; 
    margin-top: 0px; 
}

/* ----------- SLIDE -------------- */

/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper {
    max-width: 100%;
    position: relative;
  }
  
  .wrapper input {
    display: none;
  }
  
  .inner {
    width: 500%;
    line-height: 0;
  }
  
  article {
    width: 20%;
    float: left;
    position: relative;
  }
  article img {
    width: 100%;
  }
  
  /*---- SET UP CONTROL ----*/
  .slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
  }
  .slider-prev-next-control label:hover {
    opacity: 1;
  }
  
  .slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .slider-dot-control label:hover {
    background: #ccc;
    border-color: #777;
  }
  
  /* Info Box */
  .info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    -webkit-transition: all 1000ms ease-out 600ms;
    -moz-transition: all 1000ms ease-out 600ms;
    transition: all 1000ms ease-out 600ms;
  }
  .info h3 {
    color: #fcfff4;
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 1.5em;
    font-style: normal;
  }
  .info.top-left {
    top: 30px;
    left: 30px;
  }
  .info.top-right {
    top: 30px;
    right: 30px;
  }
  .info.bottom-left {
    bottom: 30px;
    left: 30px;
  }
  .info.bottom-right {
    bottom: 30px;
    right: 30px;
  }
  
  /* Slider Styling */
  .slider-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  /*---- SET POSITION FOR SLIDE ----*/
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 40px;
    font-size: 2em;
    display: block;
    color: #ccc;
  }
  
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
    content: "\f35a";
    padding-left: 0;
  }
  
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px;
  }
  
  #slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
    display: block;
    float: left;
    margin-left: 5px;
  }
  
  #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    content: "\f359";
    padding-left: 0;
  }
  
  #slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5) {
    background: #333;
  }
  
  #slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
    opacity: 1;
  }
  
  #slide1:checked ~ .slider-wrapper .inner {
    margin-left: 0%;
  }
  
  #slide2:checked ~ .slider-wrapper .inner {
    margin-left: -100%;
  }
  
  #slide3:checked ~ .slider-wrapper .inner {
    margin-left: -200%;
  }
  
  #slide4:checked ~ .slider-wrapper .inner {
    margin-left: -300%;
  }
  
  #slide5:checked ~ .slider-wrapper .inner {
    margin-left: -400%;
  }

    /* -------------------------------- */

.bloquesfort{    
    font-family: 'textos';
    display: grid;
    grid-template-columns: 100%;
    color: #FFF;
    padding-top: 2em;
}
.bloquesfort .blofortsolo {
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.bloquesfort .blofortsolo h3 {
    font-size: 1em;
}
.bloquesfort .blofortsolo h3 i {
    margin-right: 1em;
}
.bloquesfort .blofortsolo p {
    font-size: 0.8em;
    text-align: justify;
}
.datos {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    background-image: url("img/datosbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: 'textos';
    font-weight: bold;
    padding-top: 0.5em;
}
.datos .dato {
    text-align: center;
}
.datos .dato i {
    font-size: 2em;
}
.datos .dato p {
    font-size: 1.5em;
}
.clientes{
    text-align: center;
    padding: 0.2em;
}
.clientes h2{
    font-family: 'textos';
    font-weight: bold;
    text-transform: uppercase;
    color: #09999D;
}
.listaclientes {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}
.listaclientes img {
  width: 100%;
} 
.testimonios {
  background-color:#09999D;
  padding: 2px;
  text-align: center;
}
.testimonios h2{
  font-family: 'textos';
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
}

/************** SLIDER DE TESTIMONIOS ***************/

.sliderTest {
  height: 100%;
  padding: 2em;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sliderTest__nav {
  width: 12px;
  height: 12px;
  margin: 8rem 12px;
  margin-bottom: 0;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #FFF;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 rgba(255, 255, 255, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.sliderTest__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.sliderTest__nav:checked:nth-of-type(1) ~ .sliderTest__inner {
  left: 0%;
}
.sliderTest__nav:checked:nth-of-type(2) ~ .sliderTest__inner {
  left: -100%;
}
.sliderTest__nav:checked:nth-of-type(3) ~ .sliderTest__inner {
  left: -200%;
}
.sliderTest__nav:checked:nth-of-type(4) ~ .sliderTest__inner {
  left: -300%;
}
.sliderTest__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.sliderTest__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sliderTest__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.sliderTest__txt {
  color: #FFF;
  font-family: 'textos';
  margin-bottom: 10rem;
  max-width: 80%;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/****************************************************/
.firma {
  padding: 1em;
  text-align: center;
}
.firma img {
  width:50px;
}
footer .accesos{
  padding: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
  background-color: #00292A;
  display:grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 2em;
  font-size: 0.8em;
  font-family: 'textos';
  color: #FFF;
}
footer .accesos div h3{
  font-family: 'textos';
  color: #09999D;
  text-transform: uppercase;
  font-size: 1em;
}
footer .accesos div p a{
  font-family: 'textos';
  color: #09999D; 
  font-weight: bold;
  text-decoration: none;   
}
footer .accesos div p a:hover{
  color: #FFF;
  text-decoration: underline;
}
footer .accesos div .titbottom{
  font-weight: bold;
  display: block;
}
footer .accesos div .postbottom{
  width: 80%;
  border-left: solid 2px #09999D;
  border-bottom: solid 1px #09999D;
  padding: 1em;
  margin-bottom: 0.5em; 
}
footer .accesos div .postbottom a{
  font-family: 'textos';
  color: #FFF;
  text-decoration: none;
}
footer .accesos div .postbottom a:hover{
  color: #09999D;
  text-decoration: underline;
}
footer .buscarbottom {
  font-family: 'textos';
  border-radius: 1em;
  padding: 0.2em;
  border: none;
  text-align: right;
}
footer .final{
  background-color: #09999D;
  height: 6em;
  padding: 1em;
  text-align: center;
  margin-top: 0;
}
.busicon {
  color: #09999D;
  font-size: 1.5em;
  line-height: 1em;
}

    .slider-wrapper {
        border-radius: 0;
      }
    
      .slider-wrapper .info {
        opacity: 0;
      }
      .menubottom ul{        
        font-family: 'textos';
        font-weight: bold;
        font-size: 0.8em;
        text-shadow: 1px 1px 1px #000;
        margin-left: -2em;
        padding-top: 0;
    }
    .menubottom ul li {
        float: left;
        display: block;    
        text-align: center;
        padding-left: 2em;
        margin-bottom: 1em;
    }
    .menubottom ul li a{
        color: #FFF;
        text-decoration: none;
    }
    .menubottom ul li a:hover{
        color: #00292A;
        border-color: #00292A;
    }
}

/* tabletas vertical, notebooks, laptops, desktops */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  html, body {
    margin: 0;
    overflow-x: hidden;
}
header {
    background-image: url("img/tope-bw-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    height: 300px;
    z-index: 10000;
}
.brandtop{
    width: 120px;
    display: inline-block;
}
.expand{
  display: none;
}
.menutop{
    float: right;
    margin-top: 3em;
}
.menutop ul{        
    font-family: 'textos';
    font-weight: bold;
    font-size: 0.8em;
    text-shadow: 1px 1px 1px #000;
}
.menutop ul li {
    float: left;
    display: block;    
    text-align: center;
    padding-left: 2em;
}
.menutop ul li a{
    color: #FFF;
    text-decoration: none;
}
.menutop ul li a:hover{
    color: #09999D;
    border-color: #09999D;
}
.roundeditem {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    border: solid 2px #FFF;
    padding: 0.2em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}
.aluvialtope {
    text-align: center;
}
.aluvialnombre {
    font-family: 'brand';
    color: #09999D;
    font-size: 2em;
    line-height: 0;
    text-shadow: 1px 1px 2px #888;
}
.slogantope {
    width: 20em;
    margin: auto;
    font-family: 'textos';
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-top: solid 2px #09999D; 
    text-shadow: 1px 1px 2px #888;       
}
.fortalezas {
    background-color: #09999D;
    text-align: center;
    padding-bottom: 2em;        
}
.fortalezas .slider {
    position: relative;
    display: inline-block;
    z-index: 30000;
    background-color: #00292A;
    width: 80%;
    height: 150px;
    overflow: hidden;
    border: solid 5px #FFF; 
    margin-top: -100px; 
}

/* ----------- SLIDE -------------- */

/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper {
    max-width: 100%;
    position: relative;
  }
  
  .wrapper input {
    display: none;
  }
  
  .inner {
    width: 500%;
    line-height: 0;
  }
  
  article {
    width: 20%;
    float: left;
    position: relative;
  }
  article img {
    width: 100%;
  }
  
  /*---- SET UP CONTROL ----*/
  .slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
  }
  .slider-prev-next-control label:hover {
    opacity: 1;
  }
  
  .slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .slider-dot-control label:hover {
    background: #ccc;
    border-color: #777;
  }
  
  /* Info Box */
  .info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    -webkit-transition: all 1000ms ease-out 600ms;
    -moz-transition: all 1000ms ease-out 600ms;
    transition: all 1000ms ease-out 600ms;
  }
  .info h3 {
    color: #fcfff4;
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 1.5em;
    font-style: normal;
  }
  .info.top-left {
    top: 30px;
    left: 30px;
  }
  .info.top-right {
    top: 30px;
    right: 30px;
  }
  .info.bottom-left {
    bottom: 30px;
    left: 30px;
  }
  .info.bottom-right {
    bottom: 30px;
    right: 30px;
  }
  
  /* Slider Styling */
  .slider-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  /*---- SET POSITION FOR SLIDE ----*/
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 40px;
    font-size: 2em;
    display: block;
    color: #ccc;
  }
  
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
    content: "\f35a";
    padding-left: 0;
  }
  
  #slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px;
  }
  
  #slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
    display: block;
    float: left;
    margin-left: 5px;
  }
  
  #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    content: "\f359";
    padding-left: 0;
  }
  
  #slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5) {
    background: #333;
  }
  
  #slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
    opacity: 1;
  }
  
  #slide1:checked ~ .slider-wrapper .inner {
    margin-left: 0%;
  }
  
  #slide2:checked ~ .slider-wrapper .inner {
    margin-left: -100%;
  }
  
  #slide3:checked ~ .slider-wrapper .inner {
    margin-left: -200%;
  }
  
  #slide4:checked ~ .slider-wrapper .inner {
    margin-left: -300%;
  }
  
  #slide5:checked ~ .slider-wrapper .inner {
    margin-left: -400%;
  }

    /* -------------------------------- */

.bloquesfort{    
    font-family: 'textos';
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1em;
    color: #FFF;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 2em;
}
.bloquesfort .blofortsolo h3 {
    font-size: 1em;
}
.bloquesfort .blofortsolo h3 i {
    margin-right: 1em;
}
.bloquesfort .blofortsolo p {
    font-size: 0.8em;
    text-align: justify;
}
.datos {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: relative;
    background-image: url("img/datosbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: 'textos';
    font-weight: bold;
    padding-top: 1em;
}
.datos .dato {
    text-align: center;
}
.datos .dato i {
    font-size: 2em;
}
.datos .dato p {
    font-size: 1.5em;
}
.clientes{
    text-align: center;
    padding: 2em;
}
.clientes h2{
    font-family: 'textos';
    font-weight: bold;
    text-transform: uppercase;
    color: #09999D;
}
.listaclientes {
  padding: 2em;
  display:grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.listaclientes img {
  width:100%;
} 
.testimonios {
  background-color:#09999D;
  padding: 0.5em;
  padding-bottom: 0;
  text-align: center;
}
.testimonios h2{
  font-family: 'textos';
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
}

/************** SLIDER DE TESTIMONIOS ***************/

.sliderTest {
  height: 100%;
  padding: 2em;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sliderTest__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #FFF;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 rgba(255, 255, 255, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.sliderTest__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.sliderTest__nav:checked:nth-of-type(1) ~ .sliderTest__inner {
  left: 0%;
}
.sliderTest__nav:checked:nth-of-type(2) ~ .sliderTest__inner {
  left: -100%;
}
.sliderTest__nav:checked:nth-of-type(3) ~ .sliderTest__inner {
  left: -200%;
}
.sliderTest__nav:checked:nth-of-type(4) ~ .sliderTest__inner {
  left: -300%;
}
.sliderTest__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.sliderTest__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sliderTest__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.sliderTest__txt {
  color: #FFF;
  font-family: 'textos';
  margin-bottom: 10rem;
  max-width: 80%;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/****************************************************/
.firma {
  padding: 1em;
  text-align: center;
}
.firma img {
  width:50px;
}
footer .accesos{
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #00292A;
  display:grid;
  grid-template-columns: 25% 35% 15% 20%;
  grid-column-gap: 1em;
  font-size: 0.8em;
  font-family: 'textos';
  color: #FFF;
}
footer .accesos div h3{
  font-family: 'textos';
  color: #09999D;
  text-transform: uppercase;
  font-size: 1.5em;
}
footer .accesos div p a{
  font-family: 'textos';
  color: #09999D; 
  font-weight: bold;
  text-decoration: none;   
}
footer .accesos div p a:hover{
  color: #FFF;
  text-decoration: underline;
}
footer .accesos div .titbottom{
  font-weight: bold;
  display: block;
}
footer .accesos div .postbottom{
  width: 80%;
  border-left: solid 2px #09999D;
  border-bottom: solid 1px #09999D;
  padding: 1em;
  margin-bottom: 0.5em; 
}
footer .accesos div .postbottom a{
  font-family: 'textos';
  color: #FFF;
  text-decoration: none;
}
footer .accesos div .postbottom a:hover{
  color: #09999D;
  text-decoration: underline;
}
footer .accesos div input{
  width: 80%;
}
footer .buscarbottom {
  font-family: 'textos';
  border-radius: 1em;
  padding: 0.2em;
  border: none;
  text-align: right;
}
footer .final{
  background-color: #09999D;
  height: 2em;
  padding: 1em;
}
.menubottom ul{        
  font-family: 'textos';
  font-weight: bold;
  font-size: 0.8em;
  text-shadow: 1px 1px 1px #000;
  padding-left: 2em;
}
.menubottom ul li {
  float: left;
  display: block;    
  text-align: center;
  padding-right: 2em;
}
.menubottom ul li a{
  color: #FFF;
  text-decoration: none;
}
.menubottom ul li a:hover{
  color: #00292A;
  border-color: #00292A;
}
}

/* hi-res laptop, desktops */
@media (min-width:1025px) { 
    html, body {
        margin: 0;
        overflow-x: hidden;
    }
    header {
        background-image: url("img/tope-bw-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 3em;
        padding-left: 5em;
        padding-right: 5em;
        height: 300px;
        z-index: 10000;
    }
    .brandtop{
        width: 120px;
        display: inline-block;
    }
    .expand{
      display: none;
    }
    .menutop{
        float: right;
        margin-top: 3em;
    }
    .menutop ul{        
        font-family: 'textos';
        font-weight: bold;
        font-size: 0.8em;
        text-shadow: 1px 1px 1px #000;
    }
    .menutop ul li {
        float: left;
        display: block;    
        text-align: center;
        padding-left: 2em;
    }
    .menutop ul li a{
        color: #FFF;
        text-decoration: none;
    }
    .menutop ul li a:hover{
        color: #09999D;
        border-color: #09999D;
    }
    .roundeditem {
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        border: solid 2px #FFF;
        padding: 0.2em;
        padding-bottom: 0.3em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .aluvialtope {
        text-align: center;
    }
    .aluvialnombre {
        font-family: 'brand';
        color: #09999D;
        font-size: 2em;
        line-height: 0;
        text-shadow: 1px 1px 2px #888;
    }
    .slogantope {
        width: 20em;
        margin: auto;
        font-family: 'textos';
        color: #FFF;
        font-size: 0.8em;
        font-weight: bold;
        border-top: solid 2px #09999D; 
        text-shadow: 1px 1px 2px #888;       
    }
    .fortalezas {
        background-color: #09999D;
        text-align: center;
        padding-bottom: 2em;        
    }
    .fortalezas .slider {
        position: relative;
        display: inline-block;
        z-index: 30000;
        background-color: #00292A;
        width: 80%;
        height: 250px;
        overflow: hidden;
        border: solid 5px #FFF; 
        margin-top: -100px; 
    }

    /* ----------- SLIDE -------------- */

    /*---- NUMBER OF SLIDE CONFIGURATION ----*/
    .wrapper {
        max-width: 100%;
        position: relative;
      }
      
      .wrapper input {
        display: none;
      }
      
      .inner {
        width: 500%;
        line-height: 0;
      }
      
      article {
        width: 20%;
        float: left;
        position: relative;
      }
      article img {
        width: 100%;
      }
      
      /*---- SET UP CONTROL ----*/
      .slider-prev-next-control {
        height: 50px;
        position: absolute;
        top: 50%;
        width: 100%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .slider-prev-next-control label {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.7;
      }
      .slider-prev-next-control label:hover {
        opacity: 1;
      }
      
      .slider-dot-control {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
      }
      .slider-dot-control label {
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #bbb;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      .slider-dot-control label:hover {
        background: #ccc;
        border-color: #777;
      }
      
      /* Info Box */
      .info {
        position: absolute;
        font-style: italic;
        line-height: 20px;
        opacity: 0;
        color: #000;
        text-align: left;
        -webkit-transition: all 1000ms ease-out 600ms;
        -moz-transition: all 1000ms ease-out 600ms;
        transition: all 1000ms ease-out 600ms;
      }
      .info h3 {
        color: #fcfff4;
        margin: 0 0 5px;
        font-weight: normal;
        font-size: 1.5em;
        font-style: normal;
      }
      .info.top-left {
        top: 30px;
        left: 30px;
      }
      .info.top-right {
        top: 30px;
        right: 30px;
      }
      .info.bottom-left {
        bottom: 30px;
        left: 30px;
      }
      .info.bottom-right {
        bottom: 30px;
        right: 30px;
      }
      
      /* Slider Styling */
      .slider-wrapper {
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 1px 1px 4px #666;
        background: #fff;
        background: #fcfff4;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 500ms ease-out;
        -moz-transition: all 500ms ease-out;
        transition: all 500ms ease-out;
      }
      .slider-wrapper .inner {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
      }
      
      /*---- SET POSITION FOR SLIDE ----*/
      #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin: 0;
        line-height: 40px;
        font-size: 2em;
        display: block;
        color: #ccc;
      }
      
      #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
        content: "\f35a";
        padding-left: 0;
      }
      
      #slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
        display: block;
        float: right;
        margin-right: 5px;
      }
      
      #slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
        display: block;
        float: left;
        margin-left: 5px;
      }
      
      #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
        content: "\f359";
        padding-left: 0;
      }
      
      #slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5) {
        background: #333;
      }
      
      #slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
        opacity: 1;
      }
      
      #slide1:checked ~ .slider-wrapper .inner {
        margin-left: 0%;
      }
      
      #slide2:checked ~ .slider-wrapper .inner {
        margin-left: -100%;
      }
      
      #slide3:checked ~ .slider-wrapper .inner {
        margin-left: -200%;
      }
      
      #slide4:checked ~ .slider-wrapper .inner {
        margin-left: -300%;
      }
      
      #slide5:checked ~ .slider-wrapper .inner {
        margin-left: -400%;
      }
    
        /* -------------------------------- */

    .bloquesfort{    
        font-family: 'textos';
        display: grid;
        grid-template-columns: 33% 33% 33%;
        color: #FFF;
        padding-top: 2em;
    }
    .bloquesfort .blofortsolo {
        padding-left: 7em;
        padding-right: 7em;
    }
    .bloquesfort .blofortsolo h3 {
        font-size: 1em;
    }
    .bloquesfort .blofortsolo h3 i {
        margin-right: 1em;
    }
    .bloquesfort .blofortsolo p {
        font-size: 0.8em;
        text-align: justify;
    }
    .datos {
        width: 100%;
        height: 250px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        position: relative;
        background-image: url("img/datosbg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFF;
        font-family: 'textos';
        font-weight: bold;
        padding-top: 3em;
    }
    .datos .dato {
        text-align: center;
    }
    .datos .dato i {
        font-size: 2em;
    }
    .datos .dato p {
        font-size: 1.5em;
    }
    .clientes{
        text-align: center;
        padding: 2em;
    }
    .clientes h2{
        font-family: 'textos';
        font-weight: bold;
        text-transform: uppercase;
        color: #09999D;
    }
    .listaclientes {
      padding: 2em;
      padding-left: 6em;
      display:grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
    } 
    .testimonios {
      background-color:#09999D;
      padding: 2px;
      text-align: center;
    }
    .testimonios h2{
      font-family: 'textos';
      font-weight: bold;
      text-transform: uppercase;
      color: #FFF;
    }

    /************** SLIDER DE TESTIMONIOS ***************/

    .sliderTest {
      height: 100%;
      padding: 2em;
      position: relative;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .sliderTest__nav {
      width: 12px;
      height: 12px;
      margin: 2rem 12px;
      border-radius: 50%;
      z-index: 10;
      outline: 6px solid #FFF;
      outline-offset: -6px;
      box-shadow: 0 0 0 0 #fff, 0 0 0 0 rgba(255, 255, 255, 0);
      cursor: pointer;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
    }
    .sliderTest__nav:checked {
      -webkit-animation: check 0.4s linear forwards;
              animation: check 0.4s linear forwards;
    }
    .sliderTest__nav:checked:nth-of-type(1) ~ .sliderTest__inner {
      left: 0%;
    }
    .sliderTest__nav:checked:nth-of-type(2) ~ .sliderTest__inner {
      left: -100%;
    }
    .sliderTest__nav:checked:nth-of-type(3) ~ .sliderTest__inner {
      left: -200%;
    }
    .sliderTest__nav:checked:nth-of-type(4) ~ .sliderTest__inner {
      left: -300%;
    }
    .sliderTest__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 400%;
      height: 100%;
      -webkit-transition: left 0.4s;
      transition: left 0.4s;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
    }
    .sliderTest__contents {
      height: 100%;
      padding: 2rem;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .sliderTest__caption {
      font-weight: 500;
      margin: 2rem 0 1rem;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
    }
    .sliderTest__txt {
      color: #FFF;
      font-family: 'textos';
      margin-bottom: 10rem;
      max-width: 80%;
    }
    
    @-webkit-keyframes check {
      50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
      }
      100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
      }
    }
    
    @keyframes check {
      50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
      }
      100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
      }
    }

    /****************************************************/
    .firma {
      padding: 1em;
      text-align: center;
    }
    .firma img {
      width:50px;
    }
    footer .accesos{
      padding: 1em;
      padding-left: 6em;
      padding-right: 2em;
      background-color: #00292A;
      display:grid;
      grid-template-columns: 20% 35% 15% 30%;
      grid-column-gap: 1em;
      font-size: 0.8em;
      font-family: 'textos';
      color: #FFF;
    }
    footer .accesos div h3{
      font-family: 'textos';
      color: #09999D;
      text-transform: uppercase;
      font-size: 1.5em;
    }
    footer .accesos div p a{
      font-family: 'textos';
      color: #09999D; 
      font-weight: bold;
      text-decoration: none;   
    }
    footer .accesos div p a:hover{
      color: #FFF;
      text-decoration: underline;
    }
    footer .accesos div .titbottom{
      font-weight: bold;
      display: block;
    }
    footer .accesos div .postbottom{
      width: 80%;
      border-left: solid 2px #09999D;
      border-bottom: solid 1px #09999D;
      padding: 1em;
      margin-bottom: 0.5em; 
    }
    footer .accesos div .postbottom a{
      font-family: 'textos';
      color: #FFF;
      text-decoration: none;
    }
    footer .accesos div .postbottom a:hover{
      color: #09999D;
      text-decoration: underline;
    }
    footer .buscarbottom {
      font-family: 'textos';
      border-radius: 1em;
      padding: 0.2em;
      border: none;
      text-align: right;
    }
    footer .final{
      background-color: #09999D;
      height: 2em;
      padding: 1em;
    }
  .menubottom ul{        
      font-family: 'textos';
      font-weight: bold;
      font-size: 0.8em;
      text-shadow: 1px 1px 1px #000;
  }
  .menubottom ul li {
      float: left;
      display: block;    
      text-align: center;
      padding-left: 2em;
  }
  .menubottom ul li a{
      color: #FFF;
      text-decoration: none;
  }
  .menubottom ul li a:hover{
      color: #00292A;
      border-color: #00292A;
  }
}

/********* CONTENIDOS INTERNOS **********/

@media (max-width:767px)  {
  .contenido {
    position: relative;
    z-index: 20000;
  }
  .contenido .titlepage {
    font-family: 'brand';
    background-color: #fff;
    color: #09999D;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #09999D;
  }
  .contenido .contentpage {
    background-color: #fff;
    font-family: 'textos';
    padding: 2em;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .contenido {
    position: relative;
    z-index: 20000;
    margin-top: -5em;
  }
  .contenido .titlepage {
    font-family: 'brand';
    background-color: #fff;
    color: #09999D;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .contenido .contentpage {
    background-color: #fff;
    font-family: 'textos';
    padding: 2em;
  }
}
@media (min-width:1025px) {
  .contenido {
    position: relative;
    z-index: 20000;
    margin-top: -5em;
  }
  .contenido .titlepage {
    font-family: 'brand';
    background-color: #fff;
    color: #09999D;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .contenido .contentpage {
    background-color: #fff;
    font-family: 'textos';
    padding: 2em;
  }
}